@model _1000Words.Models.ViewModels.AlbumDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Album Details</h1>

<div class="card-deck">
    @foreach (var item in Model.Photos)
    {
        var photoPath = "~/images/" + (item.Path ?? "noimage.jpg");

        <div class="m-2">
            <div class="hovereffect">
                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />
                <div class="overlay">
                    <a asp-controller="Photos" asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1 mt-5">Details</a>
                </div>
            </div>
        </div>
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Album.Id">Edit Album</a> |
    <a asp-action="Index">Back to List</a>
</div>
