@model _1000Words.Models.ViewModels.PhotoDescriptionsViewModel

@{
    ViewData["Title"] = "Edit";
    var photoPath = "~/images/" + (Model.Photo.Path ?? "noimage.jpg");
}

<h1>Edit Keywords</h1>

<hr />
<div id="controls" class="d-flex flex-row">
    <button id="recordButton" class="btn btn-outline-danger mb-1 mr-3">Record</button>
    <button id="load-recording" class="btn btn-sm btn-success mb-1 mr-2" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Recording...
    </button>
    <button id="load-button" class="btn btn-sm btn-secondary mb-1" type="button" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Loading...
    </button>
</div>
<div id="edit-error-message"></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div id="switches">
                @* Creating a toggle switch for each description in the list of descriptions on the view model *@
                @foreach (Description description in Model.Descriptions)
                {
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input" id="DescriptionCustomSwitch-@description.Id" name="CheckedKeywords" value="@description.Keyword" checked />
                        <label class="custom-control-label" for="DescriptionCustomSwitch-@description.Id">@description.Keyword</label>
                    </div>
                }
            </div>
            <br />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Photo.Id" />
            <img class="card-img-top mb-1" src="@photoPath" asp-append-version="true" />
            <input type="hidden" asp-for="Photo.Path" />

            @*<div class="form-group row">
                    <label class="col-sm-2 col-form-label">Date Taken</label>
                    <div class="col-sm-10">
                        <input type="text" readonly class="form-control-plaintext" asp-for="Photo.FormattedDate">
                    </div>
                </div>*@

            <input type="hidden" asp-for="Photo.Date" />
            <input type="hidden" asp-for="Photo.UserId" />
            <div class="d-flex flex-row">
                <input type="submit" value="Save" class="btn btn-primary mr-1" />
                <a href="javascript: history.go(-1)" class="btn btn-secondary">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
