@model IEnumerable<_1000Words.Models.Photo>

@{
    ViewData["Title"] = "Index";
}

<h1>Photos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Add Photo</a>
</p>

<div class="card-deck">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.Path ?? "noimage.jpg");

        <div class="m-2">
            <div class="hovereffect">
                <img class="card-img-top imageThumbnail" src="@photoPath"
                     asp-append-version="true" />
                <div class="overlay">
                    <a asp-controller="Photos" asp-action="Details" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1 mt-5">Details</a>
                    <br />
                    <a asp-controller="Photos" asp-action="Edit" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1">Edit</a>
                    <br />
                    <a asp-controller="Photos" asp-action="Delete" asp-route-id="@item.Id"
                       class="btn btn-sm btn-light m-1">Delete</a>
                </div>
            </div>
        </div>
    }
</div>